[project]
name = "aiointel"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "httpx>=0.28.1",
    "ua-generator>=2.0.19",
]

[dependency-groups]
dev = [
    "ruff>=0.14.9",
]
